<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
</head>
<body>
<h1>Utilisateurs ayant le rôle de <%= role.roleName %></h1>
<% personnes.forEach((personne) => { %>
    <li>
        <%= personne.name %>
    </li>
<% }) %>
</body>
</html>
